<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="inicio">{{header.system}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Personal Score</a></li>
          <li><a href="#"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> General Rankings</a></li>
          <li><a href="#" ng-click="header.instructionsbar=true" ><i class="fa fa-question-circle-o" aria-hidden="true"></i> Instructions</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!!header.user.logged()"><a ui-sref="inicio">My account</a></li>
          <li ng-show="!!header.user.logged()"><a ng-click="header.logout()" href="#">Logout</a></li>
          <li ng-show="!header.user.logged()"><a ui-sref="user">Create an account</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <jh-instructionsbar show="header.instructionsbar"></jh-instructionsbar>
  <jh-generalrankingbar show="header.generalrankingbar"></jh-generalrankingbar>
</header>
