.mastermind{

    .progress{
        margin-bottom: 0;
    }

    .mm-field > i, .mm-partial i{
        display: block;
        border: solid 1px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

    .mm-stage{
        line-height: 30px;
    }

    .mm-partial{
        max-width: 120px;
    }

    .mm-partial i{
        display: inline-block;
        height: 15px;
        width: 15px;
    }

    .red{
        background-color: #e74c3c;
    }
    .green{
        background-color: #2ecc71;
    }
    .blue{
        background-color: #3498db;
    }
    .yellow{
        background-color: #f1c40f;
    }
    .orange{
        background-color: #e67e22;
    }
    .purple{
        background-color: #9b59b6;
    }
    .cyan{
        background-color: #1abc9c;
    }
    .magenta{
        background-color: #de6bae;
    }
}
