<div class="container-area" ng-show="instructionsbar.show">
  <div class="text-right">
    <button type="button" ng-click="instructionsbar.show=false" class="btn btn-info btn-lg">Ok, I got it! <i class="fa fa-check" aria-hidden="true"></i></button></button>
  </div>
  <hr />
  <div>
    <h3>Mastermind Game Instructions</h3>
    <p>
      The object of Mastermind is to guess a secret code consisting of a series of 8
      colored balls that can be with different colours or not. The winner is the player who solves his opponent's secret code with fewer guesses.
    </p>
    <h3>To get started</h3>
    <p>
      1) Select a colored ball from the big vertical line by draging and droping it in a non colored ball of a serie.
    </p>
    <p>
      2) Whenever a colored ball is wrongly chosen for colour and position from the secret code, nothing happens with the small balls from the square. However, if only the colour of the picked colored ball belongs to the secret code, a small white ball would come up as a result. For success on selecting the right position for the colored ball, a small black ball would be shown (without indication of which position it corresponds to).
    </p>
    <p>
      3) As previously mentioned, the games ends when the player solves the secret code or the time limit reaches 5 minutes either all attempts are exhausted.
    </p>
    <p>
      4) The players outcome will be stored and kept for historical purposes and can be checked within the Personal Scores menu. In addition, it will be used for ranking with other players that can be seen at the General Ranking menu.
    </p>
  </div>
</div>
