<div class="container-area" ng-show="personalscorebar.show">
  <div class="text-right">
    <button type="button" ng-click="personalscorebar.show=false" class="btn btn-info btn-lg">Ok, I'm brilliant'! <i class="fa fa-check" aria-hidden="true"></i></button></button>
  </div>
  <hr />
  <div>
    <table st-table="personalscorebar.displayedCollection" st-safe-src="personalscorebar.ranking" ng-show="personalscorebar.ranking.length > 0" class="table table-responsive table-hover">
      <thead>
        <tr>
          <td>
            <h3>My scores</h3>
          </td>
          <td>
            <input st-search="" class="form-control" placeholder="Filter" type="text"/>
          </td>
        </tr>
        <tr>
          <th>Date</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in personalscorebar.displayedCollection">
          <td>{{item.dtScore}}</td>
          <td>{{item.vlScore}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="text-right">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
          </td>
        </tr>
      </tfoot>
    </table>
    <p ng-show="personalscorebar.ranking.length == 0">
      Oh budy, it seems you haven't done any score up to now. <br />
      Why don't you give a try!?
    </p>
  </div>
</div>
