<form novalidate="novalidate" ng-submit="authentication.submit()">
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<label class="sr-only" for="username">Email</label>
				<input type="email" class="form-control" id="email" placeholder="E-mail" required ng-model="authentication.email">
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" class="form-control" id="password" required ng-model="authentication.password" placeholder="password">
			</div>
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-primary btn-block">Go <i class="fa fa-check" aria-hidden="true"></i></button>
		</div>
	</div>
	<p class="text-right">
		<a href="#">I forgot my password</a>
	</p>
	<div>
			<button type="button" ng-click="authentication.external('facebook')" class="btn btn-info btn-lg">Login with facebook <i class="fa fa-facebook-square" aria-hidden="true"></i></button>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<a href="#" ng-click="">Create an account!</a>
		</div>
		<div class="col-md-6 text-right">
			<a href="#" ng-click="authentication.cancel()">No thank's, I don't want now, maybe latter!</a>
		</div>
	</div>
</form>
